pkgbase = seekey
	pkgdesc = Wayland keyboard visualizer with floating key bubbles
	pkgver = 0.2.2
	pkgrel = 1
	url = https://github.com/Nakanomk/Seekey
	install = seekey.install
	arch = x86_64
	license = MIT
	makedepends = gettext
	makedepends = pkgconf
	depends = cairo
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = gtk4-layer-shell
	depends = json-glib
	depends = libevdev
	depends = ncurses
	source = seekey-0.2.2.tar.gz::https://github.com/Nakanomk/Seekey/archive/refs/tags/v0.2.2.tar.gz
	sha256sums = 37645c39ca9560a14487128dc7422bf3201089b103fad5396e836b688aecd431

pkgname = seekey
